WS6_DB_GetData/GetDtaApp/Web References/localhost/DataWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DataTableForUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTableForUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataTableForUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DataTableForUsersSoapIn">
    <wsdl:part name="parameters" element="tns:DataTableForUsers" />
  </wsdl:message>
  <wsdl:message name="DataTableForUsersSoapOut">
    <wsdl:part name="parameters" element="tns:DataTableForUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="DataWSSoap">
    <wsdl:operation name="DataTableForUsers">
      <wsdl:input message="tns:DataTableForUsersSoapIn" />
      <wsdl:output message="tns:DataTableForUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataWSSoap" type="tns:DataWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataTableForUsers">
      <soap:operation soapAction="http://tempuri.org/DataTableForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataWSSoap12" type="tns:DataWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DataTableForUsers">
      <soap12:operation soapAction="http://tempuri.org/DataTableForUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataWS">
    <wsdl:port name="DataWSSoap" binding="tns:DataWSSoap">
      <soap:address location="https://localhost:44318/DataWS.asmx" />
    </wsdl:port>
    <wsdl:port name="DataWSSoap12" binding="tns:DataWSSoap12">
      <soap12:address location="https://localhost:44318/DataWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>